/* .image {
  width: 200px;
  height: 200px;
  border-radius: 5px;
} */
ul {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  list-style-type: none;
  padding: 0px;
}

li a {
  width: 22rem;
  height: 30rem;
  border: 1px black;
  border-radius: 1rem;
  margin: 1.5rem;
  display: inline;
  flex-direction: column;
  overflow: hidden;
  color: brown;
}
li a img {
  object-fit: cover;
  height: 14.5rem;
  width: 20rem;
}
li a:hover {
  opacity: 0.9rem;
  cursor: pointer;
}
.content {
  margin-left: 1.3rem;
  position: relative;
}
.favorite {
  position: absolute;
  top: 0.5rem;
  right: 1rem;
}
.favorite.not {
  color: gray;
}
.origins span {
  background-color: whitesmoke;
  color: gray;
}
.buuton {
  color: white;
  background-color: #ffa600;
  width: 6rem;
  height: 2rem;
  border-radius: 1rem;
  margin-bottom: 1rem;
}
